.btn {
    background-color: var(--color-red-500);
    color: var(--color-rose-50);
    font-weight: var(--font-semi-bold);
    border-radius: 50rem;
    width: 100%;
    padding: 1.125rem 1.1875rem;
    transition-property: background-color, transform;
    transition-timing-function: ease;
    transition-duration: 200ms;

    &:active {
        transform: scale(0.95);
    }

    @media (hover: hover) {
        &:hover {
            background-color: var(--color-red-700);
        }
    }

    @media (prefers-reduced-motion: reduce) {
        transition: none;
    }
}
